################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/dotnet_core/href_downloader/bin/Debug/net5.0
/.vs
